@charset "UTF-8";
/*--------------------- Спецификация ---------------------*/
body {
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  background-color: #fff; }

@media (min-width: 360px) {
  .container {
    max-width: 1555px; } }

p {
  margin: 0; }

.row a {
  text-decoration: none;
  list-style: none; }

/*--------------------- Хедр ---------------------*/
.head {
  background-color: #333333;
  padding: 15px; }

.head__text__adres {
  color: #757575;
  font-weight: 550; }
  @media screen and (max-width: 576px) {
    .head__text__adres {
      text-align: center; } }

.head__text__numbercok__two {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  text-align: right; }
  @media screen and (max-width: 576px) {
    .head__text__numbercok__two {
      text-align: center; } }

.acst {
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 600; }

.acst:hover {
  color: #a0a0a0;
  text-decoration: none; }

/*--------------------- header ---------------------*/
.header__block__two {
  padding: 25px 0px 35px 0px; }

.header__number {
  font-size: 18px;
  color: #000;
  font-weight: 550;
  text-align: right; }
  @media screen and (max-width: 1510px) {
    .header__number {
      margin-top: 15px;
      font-size: 18px;
      float: left; } }

.header__mail {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  float: right; }
  @media screen and (max-width: 380px) {
    .header__mail {
      margin-bottom: 15px; } }
  @media screen and (max-width: 320px) {
    .header__mail {
      margin-bottom: 15px;
      float: left;
      display: inline; } }
  @media screen and (max-width: 365px) {
    .header__mail {
      margin-bottom: 15px; } }
  @media screen and (max-width: 365px) {
    .header__mail {
      float: right; } }
  .header__mail a {
    color: #414141; }

.header__mail__mob {
  display: none; }
  @media screen and (max-width: 768px) {
    .header__mail__mob {
      display: block;
      font-size: 14px;
      color: #000;
      font-weight: 400;
      float: left;
      border-bottom: 1px solid #414141; }
      .header__mail__mob a {
        color: #414141; } }

.button__zayavka {
  color: #5ba4dd;
  border: 1px #5ba4dd solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  background: transparent;
  padding: 0px 15px;
  width: 100%; }
  .button__zayavka:hover {
    background-color: rgba(91, 164, 221, 0.1); }

.button__zayavka a {
  display: block;
  color: #5ba4dd;
  line-height: 44px;
  white-space: nowrap; }

.button__system__edo {
  border: 1px #5ba4dd solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  background-color: #5ba4dd;
  padding: 0 15px;
  width: 100%; }

.button__system__edo a {
  display: block;
  color: #fff;
  white-space: nowrap;
  line-height: 44px; }

.button__system__edo:hover {
  background-color: #4d9ad4; }

.button__system__edo:active {
  background-color: #488cc0; }

/*--------------------- Footer ---------------------*/
.footer__box {
  background-color: #333333;
  padding: 45px 0px 45px 0px; }

.logo__gray {
  margin-bottom: 20px; }

@media screen and (max-width: 320px) {
  .sasp__logo__gray {
    width: 223px;
    height: 79px;
    display: none; } }

.sasp__logo__gray__two {
  display: none; }

@media screen and (max-width: 320px) {
  .sasp__logo__gray__two {
    display: block;
    margin-top: 25px; } }

@media screen and (max-width: 320px) {
  .line__footer__two {
    border-bottom: 1px #888888 solid;
    width: 100%; } }

.logo__gray__text {
  text-transform: uppercase;
  font-size: 18px;
  color: #6f81a7; }
  @media screen and (max-width: 320px) {
    .logo__gray__text {
      font-size: 14px; } }

.footer__text__left {
  color: #888888;
  font-size: 12px;
  margin-bottom: 25px;
  font-weight: 500; }

.line__footer {
  border-bottom: 1px #888888 solid;
  margin-bottom: 25px;
  width: 100%; }

.menu__footer {
  display: flex; }
  @media screen and (max-width: 1400px) {
    .menu__footer {
      display: flex;
      flex-direction: column; } }

.menu__footer li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 15px; }
  @media screen and (max-width: 1400px) {
    .menu__footer li {
      padding: 10px 0px 0px 0px; } }

.menu__footer li:hover {
  color: #e0e0e0; }

.basement__footer {
  background-color: #414141;
  padding: 15px 0px 15px 0px; }

.basement__text {
  color: #888888;
  font-size: 12px;
  font-weight: 400; }

.political__konf {
  font-size: 12px;
  color: #888888;
  font-weight: 500; }

.naks__media__logo {
  margin-left: 25px; }

.razrabotano__basement__footer {
  text-align: right; }
  @media screen and (max-width: 320px) {
    .razrabotano__basement__footer {
      text-align: center; } }

.razrabotano__v__naks__media {
  font-size: 12px;
  font-weight: 500;
  color: #888888; }

.number__footer__two {
  margin-right: 15px; }
  @media screen and (max-width: 1199px) {
    .number__footer__two {
      margin: 0; } }

.footer__number {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 15px; }

.footer__mail {
  font-size: 16px;
  color: #888888;
  margin-bottom: 15px; }
  .footer__mail a {
    color: #888888;
    border-bottom: 1px solid #888888; }

.footer__adres {
  font-size: 12px;
  color: #888888;
  font-weight: 500;
  margin-bottom: 10px; }

.adres__on__map {
  margin-bottom: 25px; }

.adres__on__map a {
  color: #888888;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline; }

.button__zayavka__footer {
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  background-color: #5ba4dd;
  padding: 0px 15px;
  margin-bottom: 25px; }

.button__zayavka__footer a {
  display: block;
  color: #ffffff;
  line-height: 44px;
  white-space: nowrap; }

.button__zayavka__footer:hover {
  background-color: #539fd8;
  color: #fff; }

.button__zayavka__footer:active {
  background-color: #4a94cc;
  color: #fff; }

/*--------------------- БГ + информация ---------------------*/
.sasp__logo {
  margin-bottom: 25px;
  font-size: 16px; }
  @media screen and (max-width: 480px) {
    .sasp__logo {
      width: 300px;
      height: 85px; } }
  @media screen and (max-width: 768px) {
    .sasp__logo {
      width: 300px;
      height: 85px; } }
  @media screen and (max-width: 320px) {
    .sasp__logo {
      width: 300px;
      height: 85px;
      display: none; } }

.sasp__text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  float: right; }

.bg-block-01 {
  background: url(../img/background.png) no-repeat;
  width: 100%;
  background-size: cover; }

.bg {
  background: url(../img/gradient.png) no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%; }

.blog-info {
  padding: 60px 0px 60px 0px;
  margin-bottom: 50px; }

.web__naks {
  font-size: 16px;
  font-weight: 400;
  color: #fff; }

.about__organization__text {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media screen and (max-width: 320px) {
    .about__organization__text {
      font-size: 25px; } }

.about__organization__text__two {
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 600px; }
  @media screen and (max-width: 320px) {
    .about__organization__text__two {
      font-size: 16px; } }

.button__zayavka__online {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #5ba4dd;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  border: none;
  display: block;
  padding: 10px 25px; }
  @media screen and (max-width: 425px) {
    .button__zayavka__online {
      margin-bottom: 15px;
      width: 100%; } }

.button__zayavka__online:hover {
  background-color: #438fc9;
  transition: 0.3s; }

.button__zayavka__text:hover {
  text-decoration: none;
  color: #fff; }

.button__zayavka__text:active {
  background-color: #3983bb;
  border-radius: 3px; }

/*--------------------- Фон + информация правая сторона ---------------------*/
.head__information {
  font-size: 24px;
  font-weight: 250;
  margin-bottom: 35px; }
  @media screen and (max-width: 375px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 320px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 425px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 768px) {
    .head__information {
      text-align: center; } }
  @media screen and (max-width: 1200px) {
    .head__information {
      margin-top: 25px; } }
  @media screen and (max-width: 460px) {
    .head__information {
      margin-top: 25px;
      margin-bottom: 15px; } }

.info__text__item {
  font-size: 18px;
  font-weight: 300;
  color: #d8d8d8;
  line-height: 2.5;
  padding: 0px 15px;
  border-left: 3px solid #fff; }
  @media screen and (max-width: 640px) {
    .info__text__item {
      font-size: 14px;
      line-height: 2; } }

.info__text__item:hover {
  color: #fff;
  border-left: 3px solid #5ba4dd;
  margin: 0;
  transition: 0.2s; }

.box__serv a {
  font-size: 20px;
  color: #fff; }

.box__service {
  background-color: #465f92;
  padding: 45px 35px;
  margin-bottom: 25px; }

.box__service:hover {
  background-color: #45639e; }

.button__uslugi {
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: transparent;
  width: 35%;
  margin-top: 60px; }
  @media screen and (max-width: 1600px) {
    .button__uslugi {
      width: 100%; } }

.button__ob_uslugax__text {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  text-align: center;
  padding: 14px; }

.button__ob_uslugax__text a {
  text-decoration: none; }

.button__ob_uslugax__text:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff; }

.button__ob_uslugax__text:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff; }

.section__header {
  font-size: 26px;
  font-weight: 400;
  color: #000;
  margin-bottom: 25px; }

.section__header__two {
  font-size: 30px;
  font-weight: 200;
  color: #000;
  margin-bottom: 15px; }

.header__attestation {
  font-size: 26px;
  font-weight: 200;
  color: #fff;
  margin-bottom: 45px; }

.box__service {
  background-color: #363a3f;
  padding: 45px 35px;
  margin-bottom: 25px;
  border-bottom: 5px solid transparent; }
  .box__service:hover {
    background-color: #4d5258;
    transition: 0.3s;
    border-bottom: 5px solid #4d9ad4; }

.box__serv a {
  font-size: 20px;
  color: #fff; }

.news__naks__tag__maine {
  font-size: 14px;
  color: #313131;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 55px;
  padding: 5px 15px; }

.date__news__maine {
  font-size: 14px;
  color: #313131;
  padding: 5px 15px; }

.box__news__content__main {
  padding: 30px;
  background-color: #fcfcfc;
  margin-bottom: 30px;
  border-radius: 0px 0px 15px 15px; }

.text__content__news__main {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #000; }
  .text__content__news__main:hover {
    color: #3e5e8d; }

.text__small {
  font-size: 14px;
  font-weight: 300;
  color: #8d8d8d;
  margin-top: 15px; }

.box__news__content__main:hover {
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09); }

/*--------------------- Блок 4 Инфо-блок ---------------------*/
.info__block {
  margin-bottom: 60px; }

.articles__text {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 500; }

.ask__text__header {
  font-size: 22px;
  color: #fff;
  font-weight: 500; }

.ask__text__small {
  font-size: 14px;
  color: #fff;
  margin-top: 10px; }

.number__mail__ask__box {
  font-size: 16px;
  font-weight: 550;
  color: #fff;
  margin-top: 10px; }

.mail__text__ask__box {
  border-bottom: 1px solid #fff;
  color: #fff; }

.mail__text__ask__box:hover {
  color: #fff; }

.ask__box {
  padding: 35px;
  background: #333333; }
  @media screen and (max-width: 1199px) {
    .ask__box {
      margin-bottom: 25px; } }

.ask__box:hover {
  transform: scale(1.02, 1.02);
  transition: 0.3s; }

.ask__a__question {
  width: 100%; }

.feedback__text {
  border-bottom: 1px solid #5ba4dd;
  color: #5ba4dd;
  font-weight: 550; }

.feedback__text:hover {
  color: #6db5ec; }

/*--------------------- Блок 4 Search work ---------------------*/
.search__work__box {
  padding: 35px;
  background: rgba(51, 51, 51, 0.8); }
  @media screen and (max-width: 1199px) {
    .search__work__box {
      margin-bottom: 25px; } }

.search__text__header {
  font-size: 22px;
  color: #fff; }

.search__text__header__two {
  font-size: 14px;
  color: #fff;
  margin-bottom: 38px; }
  @media screen and (max-width: 416px) {
    .search__text__header__two {
      display: none; } }

.button__search__work {
  background-color: #ffdc4e;
  border-radius: 3px;
  border: none; }
  @media screen and (max-width: 320px) {
    .button__search__work {
      float: left;
      margin-top: 10px; } }
  @media screen and (max-width: 1199px) {
    .button__search__work {
      margin-bottom: 15px; } }

.button__search__work a {
  display: block;
  color: #ffffff;
  padding: 10px;
  white-space: nowrap;
  color: #000;
  font-size: 16px; }

.adress__site_bw {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  margin-top: -10px;
  color: #fff; }
  @media screen and (max-width: 320px) {
    .adress__site_bw {
      margin-top: 10px; } }

.button__place__a__job {
  font-size: 16px;
  color: #fff;
  font-weight: 300; }

.button__place__a__job:hover {
  color: #fff;
  margin-left: 5px;
  transition: 0.2s; }

.arrow__next__tree {
  margin-left: 5px; }

.search__box__img {
  background: url(../img/search__work.png) no-repeat;
  background-size: cover;
  border-radius: 3px; }

.search__box__img:hover {
  transform: scale(1.02, 1.02);
  transition: 0.3s; }

/*--------------------- Блок 4 Journal ---------------------*/
.journal__box {
  padding: 35px;
  background: rgba(51, 51, 51, 0.8); }
  @media screen and (max-width: 1199px) {
    .journal__box {
      margin-bottom: 25px; } }

.journal__box__img {
  background: url(../img/journal__img.png) no-repeat;
  background-size: cover;
  border-radius: 3px; }

.journal__box__img:hover {
  transform: scale(1.02, 1.02);
  transition: 0.3s; }

.journal__img__header {
  margin-bottom: 12px;
  width: 100%; }

.journal__text {
  font-size: 14px;
  color: #fff;
  margin-top: 16px; }

.button__svarka {
  font-size: 20px;
  color: #fff;
  font-weight: 300; }

.button__svarka:hover {
  color: #fff;
  margin-left: 5px;
  transition: 0.2s; }

.menu__background {
  background-color: #fff;
  padding: 15px 0px 15px 0px;
  border-top: 1px solid #f5f5f5; }

.navbar {
  font-size: 16px;
  color: #fff; }

.menu__navbar ul {
  color: #fff;
  font-size: 16px;
  justify-content: space-between; }
  @media screen and (max-width: 992px) {
    .menu__navbar ul {
      margin-top: 15px;
      margin-bottom: 15px; } }

.menu__navbar .navbar {
  padding: 0; }

.menu__navbar .navbar li {
  cursor: pointer; }

.menu__navbar .navbar .nav-item .nav-link {
  padding: 0;
  color: #000; }

.menu__navbar .navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 35px;
  text-transform: uppercase; }

.menu__navbar .navbar .nav-item .nav__link__two {
  margin-right: 35px;
  text-transform: uppercase;
  color: #000; }
  @media screen and (max-width: 992px) {
    .menu__navbar .navbar .nav-item .nav__link__two {
      padding: 0px 0px 15px;
      font-weight: 200; } }

@media screen and (max-width: 992px) {
  .navbar-collapse {
    line-height: 2; } }

@media screen and (max-width: 320px) {
  .navbar-collapse {
    line-height: 2; } }

.navbar-dark .navbar-nav .nav-link .navbar-dark .navbar-nav .nav-link:hover {
  color: white; }

.dropdown-menu {
  margin-top: 22px;
  border-radius: 0px;
  color: #fff;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
  line-height: 2;
  border: none; }
  @media screen and (max-width: 320px) {
    .dropdown-menu {
      font-size: 12px;
      color: #fff; } }

.navbar-dark .navbar-toggler {
  background-color: #5ba4dd; }

.dropdown-item.active,
.dropdown-item:active {
  background-color: #333333; }

.navbar-toggler {
  padding: 3px 10px; }

.form-control {
  background-color: transparent;
  float: right; }

@media screen and (max-width: 320px) {
  .form-inline {
    width: 75%; } }

.form-control:focus {
  color: #000;
  background-color: transparent;
  border-color: #ffffff;
  outline: 0;
  box-shadow: none; }

input[type="search"]::-webkit-input-placeholder {
  color: #000; }

input[type="search"]:-ms-input-placeholder {
  color: #000; }

input[type="search"]::-ms-input-placeholder {
  color: #000; }

input[type="search"]::placeholder {
  color: #000; }

.form-control:focus::-webkit-input-placeholder {
  color: transparent; }

.form-control:focus::-moz-placeholder {
  color: transparent; }

.form-control:focus:-moz-placeholder {
  color: transparent; }

.form-control:focus:-ms-input-placeholder {
  color: transparent; }

@media screen and (max-width: 320px) {
  .input__group {
    text-align: left; } }

/* Modal Window */
.modal {
  z-index: 100001; }

.modal .custom-control-label a {
  text-decoration: underline; }

.modal .custom-control-label a:hover {
  text-decoration: none; }

.modal-header {
  border-bottom: none;
  background-color: #ffffff;
  color: #fff; }

.modal-footer {
  justify-content: flex-start;
  border-top: none; }

.modal-content {
  background-color: #ffffff;
  color: #3f3f3f;
  border-radius: 0;
  border: none; }

.modal-content .form-control {
  border: 1px solid #3f3f3f;
  background-color: transparent;
  color: #3f3f3f;
  font-size: 0.8rem; }

.modal-content .form-control option {
  color: #000; }

.modal-content .custom-control-label::before {
  background-color: transparent;
  border: 1px solid #3f3f3f; }

.modal-content .custom-control-input:checked ~ .custom-control-label::before {
  color: #3f3f3f;
  background-color: #3f3f3f; }

.modal-header {
  position: relative;
  background-color: #465f92;
  display: block;
  border-radius: 0; }

.custom-control-label::after {
  cursor: pointer; }

.custom-control-checkbox {
  padding-left: 0.9rem;
  cursor: pointer; }

.modal-header p {
  font-size: 0.875rem;
  line-height: 20px; }

.modal-header .close {
  position: absolute;
  right: 2rem;
  top: 0;
  font-size: 2.5rem;
  font-weight: 100;
  color: #3f3f3f;
  opacity: 1;
  line-height: inherit;
  padding: 1rem;
  margin: 0; }

.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
  color: #3f3f3f;
  text-decoration: none;
  opacity: .5; }

input ~ label[for="soglasie"] {
  width: 100%;
  font-size: 16px;
  margin: 25px 0px 0px 10px;
  padding: 0px; }

input ~ label[for="sogl"] {
  width: 100%;
  font-size: 16px;
  margin: 10px 0px 0px 10px;
  padding: 0px; }

.button__to__send_zayavka__formmodal {
  background-color: #465f92;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px; }

.button__to__send_zayavka__formmodal:hover {
  background-color: #3e588b; }

.button__to__send_zayavka__formmodal:active {
  background-color: #5671a7; }

/* Выбор несколько из списка */
.choose__item .items {
  list-style: none;
  padding: 0;
  margin: 0; }

.choose__item .items li {
  display: block;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 350;
  border: 1px #5671a7 solid;
  border-radius: 300px;
  padding: 10px 20px;
  margin: 0px 15px 15px 0px;
  float: left; }

.choose__item .items li:hover {
  background-color: #5671a7;
  transition: 0.5s;
  transform: scale(1.02, 1.02);
  color: #fff;
  border: 1px #5671a7 solid; }

.choose__item .items li:active {
  background-color: #5671a7; }

.selected {
  background-color: #5671a7;
  border-radius: 300px;
  padding: 7px;
  color: #fff; }

hr {
  clear: both; }

.checks {
  opacity: 0; }

.col-form-label-sm {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 5px; }

@media screen and (max-width: 320px) {
  .header__logo__center {
    width: 230px;
    height: 45px; } }

.header__buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 1500px) {
    .header__buttons-container {
      margin: 0px;
      margin-top: 15px; } }

@media screen and (max-width: 1300px) {
  .logo__block {
    display: none; } }

@media screen and (max-width: 995px) {
  .logo__block {
    display: block; } }

@media screen and (max-width: 995px) {
  .logo__block {
    display: flex;
    justify-content: space-between; } }

@media screen and (max-width: 1055px) {
  .block__obl__proff {
    display: inline;
    flex-flow: row wrap;
    justify-content: space-between; } }

@media screen and (max-width: 480px) {
  .info__number__atestat__block {
    display: none; } }

@media screen and (max-width: 480px) {
  .info__text__right {
    display: none; } }

@media screen and (max-width: 480px) {
  .basement__footer {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .naks__media__logo {
    display: none; } }

@media screen and (max-width: 480px) {
  .razrabotano__v__naks__media {
    right: 0; } }

@media screen and (max-width: 320px) {
  .menu__footer {
    padding: 0;
    margin: 0;
    margin-bottom: 25px; } }

@media screen and (max-width: 992px) {
  .menu__footer {
    padding: 0;
    margin: 0;
    margin-bottom: 25px; } }
