/*--------------------- Спецификация ---------------------*/

body {
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
}

@media (min-width: 360px) {
    .container {
        max-width: 1555px;
    }
}

p {
    margin: 0;
}

.row a {
    text-decoration: none;
    list-style: none;
}

/*--------------------- Хедр ---------------------*/


.head {
    background-color: #333333;
    padding: 15px;
}

.head__text__adres {
    color: #757575;
    font-weight: 550;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.head__text__numbercok__two {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    text-align: right;

    @media screen and (max-width: 576px) {
        text-align: center;
    }
}

.acst {
    color: #d4d4d4;
    font-size: 14px;
    font-weight: 600;
}

.acst:hover {
    color: #a0a0a0;
    text-decoration: none;
}


/*--------------------- header ---------------------*/


.header__block__two {
    padding: 25px 0px 35px 0px;
}

.header__number {
    font-size: 18px;
    color: #000;
    font-weight: 550;
    text-align: right;

    @media screen and (max-width: 1510px) {
        margin-top: 15px;
        font-size: 18px;
        float: left;
    }
}

.header__mail {
    font-size: 14px;
    color: #000;
    font-weight: 400;
    float: right;

    @media screen and (max-width: 380px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 320px) {
        margin-bottom: 15px;
        float: left;
        display: inline;
    }

    @media screen and (max-width: 365px) {
        margin-bottom: 15px;
    }

    @media screen and (max-width: 365px) {
        float: right;
    }

    a {
        color: #414141;
    }
}

.header__mail__mob {
    display: none;

    @media screen and (max-width: 768px) {
        display: block;
        font-size: 14px;
        color: #000;
        font-weight: 400;
        float: left;
        border-bottom: 1px solid #414141;

        a {
            color: #414141;
        }
    }
}

.button__zayavka {
    color: #5ba4dd;
    border: 1px #5ba4dd solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background: transparent;
    padding: 0px 15px;
    width: 100%;

    &:hover {
        background-color: rgba(91, 164, 221, 0.1);
    }

}

.button__zayavka a {
    display: block;
    color: #5ba4dd;
    line-height: 44px;
    white-space: nowrap;
}

.button__system__edo {
    border: 1px #5ba4dd solid;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #5ba4dd;
    padding: 0 15px;
    width: 100%;
}

.button__system__edo a {
    display: block;
    color: #fff;
    white-space: nowrap;
    line-height: 44px;
}

.button__system__edo:hover {
    background-color: #4d9ad4;
}

.button__system__edo:active {
    background-color: #488cc0;
}

/*--------------------- Footer ---------------------*/

.footer__box {
    background-color: #3d4962;
    padding: 45px 0px 45px 0px;
}

.logo__gray {
    margin-bottom: 20px;
}

.sasp__logo__gray {
    @media screen and (max-width: 320px) {
        width: 223px;
        height: 79px;
        display: none;
    }
}

.sasp__logo__gray__two {
    display: none;
}

.sasp__logo__gray__two {
    @media screen and (max-width: 320px) {
        display: block;
        margin-top: 25px;
    }
}

.line__footer__two {
    @media screen and (max-width: 320px) {
        border-bottom: 1px #6f81a7 solid;
        width: 100%;
    }
}

.logo__gray__text {
    text-transform: uppercase;
    font-size: 18px;
    color: #6f81a7;

    @media screen and (max-width: 320px) {
        font-size: 14px;
    }

}

.footer__text__left {
    color: #6f81a7;
    font-size: 12px;
    margin-bottom: 25px;
    font-weight: 500;
}

.line__footer {
    border-bottom: 1px #6f81a7 solid;
    margin-bottom: 25px;
    width: 100%;
}

.menu__footer li {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 10px;
    line-height: 3;

    @media screen and (max-width: 1400px) {
        padding: 10px 0px 0px 0px;
        line-height: 2;
    }
}

.menu__footer li:hover {
    color: #e0e0e0;
}

.basement__footer {
    background-color: #323e57;
    padding: 15px 0px 15px 0px;
}

.basement__text {
    color: #6f81a7;
    font-size: 12px;
    font-weight: 400;
}


.political__konf {
    font-size: 12px;
    color: #6f81a7;
    font-weight: 500;
}

.naks__media__logo {
    margin-left: 25px;
}

.razrabotano__basement__footer {
    text-align: right;

    @media screen and (max-width: 320px) {
        text-align: center;
    }
}

.razrabotano__v__naks__media {
    font-size: 12px;
    font-weight: 500;
    color: #6f81a7;
}


.footer__number {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}

.footer__mail {
    font-size: 16px;
    color: #6f81a7;
    margin-bottom: 15px;

    a {
        color: #6f81a7;
        border-bottom: 1px solid #6f81a7;
    }
}

.footer__adres {
    font-size: 12px;
    color: #6f81a7;
    font-weight: 500;
    margin-bottom: 10px;
}

.adres__on__map {
    margin-bottom: 25px;
}

.adres__on__map a {
    color: #8fa0c4;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}


.button__zayavka__footer {
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    background-color: #8a9abd;
    padding: 0px 15px;
    margin-bottom: 25px;
}

.button__zayavka__footer a {
    display: block;
    color: #ffffff;
    line-height: 44px;
    white-space: nowrap;
}

.button__zayavka__footer:hover {
    background-color: #788aaf;
    color: #fff;
}

.button__zayavka__footer:active {
    background-color: #61759c;
    color: #fff;
}


/*--------------------- БГ + информация ---------------------*/

.sasp__logo {
    margin-bottom: 25px;
    font-size: 16px;

    @media screen and (max-width: 480px) {
        width: 300px;
        height: 85px;
    }

    @media screen and (max-width: 768px) {
        width: 300px;
        height: 85px;
    }

    @media screen and (max-width: 320px) {
        width: 300px;
        height: 85px;
        display: none;
    }

}

.sasp__text {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    float: right;
}


.bg-block-01 {
    background: url(../img/background.png) no-repeat;
    width: 100%;
    background-size: cover;
}

.bg {
    background: url(../img/gradient.png) no-repeat;
    background-size: cover;
    color: #fff;
    width: 100%;
}

.blog-info {
    padding: 60px 0px 60px 0px;
    margin-bottom: 50px;
}

.web__naks {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.about__organization__text {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media screen and (max-width: 320px) {
        font-size: 25px;
    }

}

.about__organization__text__two {
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 600px;

    @media screen and (max-width: 320px) {
        font-size: 16px
    }
}

.button__zayavka__online {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #5ba4dd;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    display: block;
    padding: 10px 25px;
    @media screen and (max-width: 425px) {
        margin-bottom: 15px;
    }
}

.button__zayavka__online:hover {
    background-color: #438fc9;
    transition: 0.3s;
}

.button__zayavka__text:hover {
    text-decoration: none;
    color: #fff;
}

.button__zayavka__text:active {
    background-color: #3983bb;
    border-radius: 3px;
}

/*--------------------- Фон + информация правая сторона ---------------------*/

.head__information {
    font-size: 24px;
    font-weight: 250;
    margin-bottom: 35px;

    @media screen and (max-width: 375px) {
        text-align: center;
    }

    @media screen and (max-width: 320px) {
        text-align: center;
    }

    @media screen and (max-width: 425px) {
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    @media screen and (max-width: 1200px) {
        margin-top: 25px;
    }

    @media screen and (max-width: 460px) {
        margin-top: 25px;
        margin-bottom: 15px;
    }

}

.info__text__item {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 2.5;
    padding: 0px 15px;

    @media screen and (max-width: 640px) {
        font-size: 14px;
        line-height: 2;
    }

}

.box__serv a {
    font-size: 20px;
    color: #fff;
}

.box__service {
    background-color: #465f92;
    padding: 45px 35px;
    margin-bottom: 25px;
}

.box__service:hover {
    background-color: #45639e;
}

.button__uslugi {
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    width: 35%;
    margin-top: 60px;

    @media screen and (max-width: 1600px) {
        width: 100%;
    }
}


.button__ob_uslugax__text {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    text-align: center;
    padding: 14px;
}

.button__ob_uslugax__text a {
    text-decoration: none;
}

.button__ob_uslugax__text:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button__ob_uslugax__text:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}


// Заголовки на страницах

.section__header {
    font-size: 30px;
    font-weight: 200;
    color: #000;
    margin-bottom: 15px;
}

.section__header__two {
    font-size: 30px;
    font-weight: 200;
    color: #000;
    margin-bottom: 15px;
}

.line__section {
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
    width: 50px;
}


// Новости




/*--------------------- Блок 4 Инфо-блок ---------------------*/


.info__block {
    margin-bottom: 60px;
}

.articles__text {
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
}

.ask__text__header {
    font-size: 22px;
    color: #fff;
    font-weight: 500;

}

.ask__text__small {
    font-size: 14px;
    color: #fff;
    margin-top: 10px;
}

.number__mail__ask__box {
    font-size: 16px;
    font-weight: 550;
    color: #fff;
    margin-top: 10px;
}

.mail__text__ask__box {
    border-bottom: 1px solid #fff;
    color: #fff;
}

.mail__text__ask__box:hover {

    color: #fff;
}


.ask__box {
    padding: 35px;

    background: #3c4e77;

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.ask__box:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

.ask__a__question {
    width: 100%;
}

.feedback__text {
    border-bottom: 1px solid #7191d7;
    color: #7191d7;
    font-weight: 550;
}

.feedback__text:hover {

    color: #587ac2;
}

/*--------------------- Блок 4 Search work ---------------------*/

.search__work__box {
    padding: 35px;

    background: rgba(59, 77, 118, 0.8);

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.search__text__header {
    font-size: 22px;
    color: #fff;
}

.search__text__header__two {
    font-size: 14px;
    color: #fff;
    margin-bottom: 38px;

    @media screen and (max-width: 416px) {
        display: none;
    }
}

.button__search__work {
    background-color: #ffdc4e;
    border-radius: 3px;
    border: none;

    @media screen and (max-width: 320px) {
        float: left;
        margin-top: 10px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 15px;
    }

}

.button__search__work a {
    display: block;
    color: #ffffff;
    padding: 10px;
    white-space: nowrap;
    color: #000;
    font-size: 16px;

}

.adress__site_bw {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    margin-top: -10px;
    color: #fff;

    @media screen and (max-width: 320px) {
        margin-top: 10px;
    }
}

.button__place__a__job {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

.button__place__a__job:hover {
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}

.arrow__next__tree {
    margin-left: 5px;
}

.search__box__img {
    background: url(../img/search__work.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.search__box__img:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

/*--------------------- Блок 4 Journal ---------------------*/

.journal__box {
    padding: 35px;

    background: rgba(59, 77, 118, 0.8);

    @media screen and (max-width: 1199px) {
        margin-bottom: 25px;
    }

}

.journal__box__img {
    background: url(../img/journal__img.png) no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.journal__box__img:hover {
    transform: scale(1.02, 1.02);
    transition: 0.3s;
}

.journal__img__header {
    margin-bottom: 12px;
    width: 100%;
}

.journal__text {
    font-size: 14px;
    color: #fff;
    margin-top: 16px;
}

.button__svarka {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.button__svarka:hover {
    color: #fff;
    margin-left: 5px;
    transition: 0.2s;
}
